/* $grid-gutter:  7.5px;
$grid-gutter-sm: $grid-gutter/2;
$grid-gutter-lg: $grid-gutter*2; */
.width-1 {
  width: 8.3333333333%;
}

.width-2 {
  width: 16.6666666667%;
}

.width-3 {
  width: 25%;
}

.width-4 {
  width: 33.3333333333%;
}

.width-5 {
  width: 41.6666666667%;
}

.width-6 {
  width: 50%;
}

.width-7 {
  width: 58.3333333333%;
}

.width-8 {
  width: 66.6666666667%;
}

.width-9 {
  width: 75%;
}

.width-10 {
  width: 83.3333333333%;
}

.width-11 {
  width: 91.6666666667%;
}

.width-12 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.margin-center {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.block {
  display: block;
}

.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Poppins-Reg";
  font-weight: normal;
  src: url("/assets/font/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  font-weight: normal;
  src: url("/assets/font/Poppins-Bold.ttf");
}
.default-font {
  font-family: "Poppins-Reg", "Sans Serif";
}

.font-bold {
  font-family: "Poppins-Bold", "Sans Serif";
}

.font-size-10 {
  font-size: 0.625rem;
}

.font-size-11 {
  font-size: 0.6875rem;
}

.font-size-12 {
  font-size: 0.75rem;
}

.font-size-12-25 {
  font-size: 0.765625rem;
}

.font-size-13 {
  font-size: 0.8125rem;
}

.font-size-14 {
  font-size: 0.875rem;
}

.font-size-15 {
  font-size: 0.9375rem;
}

.font-size-16 {
  font-size: 1rem;
}

.font-size-18 {
  font-size: 1.125rem;
}

.font-size-32 {
  font-size: 2rem;
}

.t1-color {
  color: #121212;
}

.bg-t1-color {
  background-color: #121212;
}

.bc-t1-color {
  border-color: #121212;
}

.t2-color {
  color: #7784EE;
}

.bg-t2-color {
  background-color: #7784EE;
}

.bc-t2-color {
  border-color: #7784EE;
}

.t3-color {
  color: #797979;
}

.bg-t3-color {
  background-color: #797979;
}

.bc-t3-color {
  border-color: #797979;
}

.t4-color {
  color: #FFF;
}

.bg-t4-color {
  background-color: #FFF;
}

.bc-t4-color {
  border-color: #FFF;
}

.t5-color {
  color: #F85640;
}

.bg-t5-color {
  background-color: #F85640;
}

.bc-t5-color {
  border-color: #F85640;
}

.t6-color {
  color: #E18109;
}

.bg-t6-color {
  background-color: #E18109;
}

.bc-t6-color {
  border-color: #E18109;
}

.t7-color {
  color: #13854E;
}

.bg-t7-color {
  background-color: #13854E;
}

.bc-t7-color {
  border-color: #13854E;
}

.t8-color {
  color: #08A0F7;
}

.bg-t8-color {
  background-color: #08A0F7;
}

.bc-t8-color {
  border-color: #08A0F7;
}

.t8-2-color {
  color: rgba(8, 160, 247, 0.15);
}

.bg-t8-2-color {
  background-color: rgba(8, 160, 247, 0.15);
}

.bc-t8-2-color {
  border-color: rgba(8, 160, 247, 0.15);
}

.t8-3-color {
  color: rgba(8, 160, 247, 0.06);
}

.bg-t8-3-color {
  background-color: rgba(8, 160, 247, 0.06);
}

.bc-t8-3-color {
  border-color: rgba(8, 160, 247, 0.06);
}

.t9-color {
  color: #F4F7FC;
}

.bg-t9-color {
  background-color: #F4F7FC;
}

.bc-t9-color {
  border-color: #F4F7FC;
}

.t10-color {
  color: #1778B0;
}

.bg-t10-color {
  background-color: #1778B0;
}

.bc-t10-color {
  border-color: #1778B0;
}

.t11-color {
  color: #5F6DDD;
}

.bg-t11-color {
  background-color: #5F6DDD;
}

.bc-t11-color {
  border-color: #5F6DDD;
}

.t12-color {
  color: #D2D7FF;
}

.bg-t12-color {
  background-color: #D2D7FF;
}

.bc-t12-color {
  border-color: #D2D7FF;
}

.t13-color {
  color: #EAEEF6;
}

.bg-t13-color {
  background-color: #EAEEF6;
}

.bc-t13-color {
  border-color: #EAEEF6;
}

.t14-color {
  color: #46BD84;
}

.bg-t14-color {
  background-color: #46BD84;
}

.bc-t14-color {
  border-color: #46BD84;
}

.t14-2-color {
  color: rgba(52, 167, 112, 0.1);
}

.bg-t14-2-color {
  background-color: rgba(52, 167, 112, 0.1);
}

.bc-t14-2-color {
  border-color: rgba(52, 167, 112, 0.1);
}

.t15-color {
  color: #D459E8;
}

.bg-t15-color {
  background-color: #D459E8;
}

.bc-t15-color {
  border-color: #D459E8;
}

.t15-2-color {
  color: rgba(157, 28, 178, 0.1);
}

.bg-t15-2-color {
  background-color: rgba(157, 28, 178, 0.1);
}

.bc-t15-2-color {
  border-color: rgba(157, 28, 178, 0.1);
}

.t16-color {
  color: #F85640;
}

.bg-t16-color {
  background-color: #F85640;
}

.bc-t16-color {
  border-color: #F85640;
}

.t17-color {
  color: #79170A;
}

.bg-t17-color {
  background-color: #79170A;
}

.bc-t17-color {
  border-color: #79170A;
}

.t18-color {
  color: #FFF8F8;
}

.bg-t18-color {
  background-color: #FFF8F8;
}

.bc-t18-color {
  border-color: #FFF8F8;
}

.t19-color {
  color: #E18109;
}

.bg-t19-color {
  background-color: #E18109;
}

.bc-t19-color {
  border-color: #E18109;
}

.t20-color {
  color: #FBA63C;
}

.bg-t20-color {
  background-color: #FBA63C;
}

.bc-t20-color {
  border-color: #FBA63C;
}

.t21-color {
  color: #BC741A;
}

.bg-t21-color {
  background-color: #BC741A;
}

.bc-t21-color {
  border-color: #BC741A;
}

.t22-color {
  color: #FFF8EF;
}

.bg-t22-color {
  background-color: #FFF8EF;
}

.bc-t22-color {
  border-color: #FFF8EF;
}

.t23-color {
  color: #34A770;
}

.bg-t23-color {
  background-color: #34A770;
}

.bc-t23-color {
  border-color: #34A770;
}

.t24-color {
  color: #DCF3EB;
}

.bg-t24-color {
  background-color: #DCF3EB;
}

.bc-t24-color {
  border-color: #DCF3EB;
}

.t25-color {
  color: #13854E;
}

.bg-t25-color {
  background-color: #13854E;
}

.bc-t25-color {
  border-color: #13854E;
}

.t26-color {
  color: #10673E;
}

.bg-t26-color {
  background-color: #10673E;
}

.bc-t26-color {
  border-color: #10673E;
}

.t27-color {
  color: #3387B7;
}

.bg-t27-color {
  background-color: #3387B7;
}

.bc-t27-color {
  border-color: #3387B7;
}

.t28-color {
  color: #E1F2FC;
}

.bg-t28-color {
  background-color: #E1F2FC;
}

.bc-t28-color {
  border-color: #E1F2FC;
}

.t29-color {
  color: #41475E;
}

.bg-t29-color {
  background-color: #41475E;
}

.bc-t29-color {
  border-color: #41475E;
}

.t30-color {
  color: #33AC72;
}

.bg-t30-color {
  background-color: #33AC72;
}

.bc-t30-color {
  border-color: #33AC72;
}

.t31-color {
  color: #F0F5FC;
}

.bg-t31-color {
  background-color: #F0F5FC;
}

.bc-t31-color {
  border-color: #F0F5FC;
}

.t32-color {
  color: #C9C9C9;
}

.bg-t32-color {
  background-color: #C9C9C9;
}

.bc-t32-color {
  border-color: #C9C9C9;
}

.file-attachment-container {
  max-width: 408px;
}
.file-attachment-container figure p {
  bottom: 15%;
  left: 5%;
}
.file-attachment-container figure img {
  left: 20px;
  top: 0;
}
.file-attachment-container .progress-bar {
  border-radius: 12.5rem;
}
.file-attachment-container .progress-bar hr {
  border-radius: 12.5rem;
  border: 5px solid #08A0F7;
  width: 50%;
}

.spacing-1 {
  padding: 1.75rem;
}

.spacing-1-r {
  padding-right: 1.75rem;
}

.spacing-1-l {
  padding-left: 1.75rem;
}

.spacing-1-t {
  padding-top: 1.75rem;
}

.spacing-1-b {
  padding-bottom: 1.75rem;
}

.spacing-1-m {
  margin: 1.75rem;
}

.spacing-1-mr {
  margin-right: 1.75rem;
}

.spacing-1-ml {
  margin-left: 1.75rem;
}

.spacing-1-mt {
  margin-top: 1.75rem;
}

.spacing-1-mb {
  margin-bottom: 1.75rem;
}

.spacing-2 {
  padding: 1.5rem;
}

.spacing-2-r {
  padding-right: 1.5rem;
}

.spacing-2-l {
  padding-left: 1.5rem;
}

.spacing-2-t {
  padding-top: 1.5rem;
}

.spacing-2-b {
  padding-bottom: 1.5rem;
}

.spacing-2-m {
  margin: 1.5rem;
}

.spacing-2-mr {
  margin-right: 1.5rem;
}

.spacing-2-ml {
  margin-left: 1.5rem;
}

.spacing-2-mt {
  margin-top: 1.5rem;
}

.spacing-2-mb {
  margin-bottom: 1.5rem;
}

.spacing-3 {
  padding: 0.5rem;
}

.spacing-3-r {
  padding-right: 0.5rem;
}

.spacing-3-l {
  padding-left: 0.5rem;
}

.spacing-3-t {
  padding-top: 0.5rem;
}

.spacing-3-b {
  padding-bottom: 0.5rem;
}

.spacing-3-m {
  margin: 0.5rem;
}

.spacing-3-mr {
  margin-right: 0.5rem;
}

.spacing-3-ml {
  margin-left: 0.5rem;
}

.spacing-3-mt {
  margin-top: 0.5rem;
}

.spacing-3-mb {
  margin-bottom: 0.5rem;
}

.spacing-4 {
  padding: 1.875rem;
}

.spacing-4-r {
  padding-right: 1.875rem;
}

.spacing-4-l {
  padding-left: 1.875rem;
}

.spacing-4-t {
  padding-top: 1.875rem;
}

.spacing-4-b {
  padding-bottom: 1.875rem;
}

.spacing-4-m {
  margin: 1.875rem;
}

.spacing-4-mr {
  margin-right: 1.875rem;
}

.spacing-4-ml {
  margin-left: 1.875rem;
}

.spacing-4-mt {
  margin-top: 1.875rem;
}

.spacing-4-mb {
  margin-bottom: 1.875rem;
}

.spacing-5 {
  padding: 1.625rem;
}

.spacing-5-r {
  padding-right: 1.625rem;
}

.spacing-5-l {
  padding-left: 1.625rem;
}

.spacing-5-t {
  padding-top: 1.625rem;
}

.spacing-5-b {
  padding-bottom: 1.625rem;
}

.spacing-5-m {
  margin: 1.625rem;
}

.spacing-5-mr {
  margin-right: 1.625rem;
}

.spacing-5-ml {
  margin-left: 1.625rem;
}

.spacing-5-mt {
  margin-top: 1.625rem;
}

.spacing-5-mb {
  margin-bottom: 1.625rem;
}

.spacing-6 {
  padding: 1.125rem;
}

.spacing-6-r {
  padding-right: 1.125rem;
}

.spacing-6-l {
  padding-left: 1.125rem;
}

.spacing-6-t {
  padding-top: 1.125rem;
}

.spacing-6-b {
  padding-bottom: 1.125rem;
}

.spacing-6-m {
  margin: 1.125rem;
}

.spacing-6-mr {
  margin-right: 1.125rem;
}

.spacing-6-ml {
  margin-left: 1.125rem;
}

.spacing-6-mt {
  margin-top: 1.125rem;
}

.spacing-6-mb {
  margin-bottom: 1.125rem;
}

.spacing-7 {
  padding: 1.375rem;
}

.spacing-7-r {
  padding-right: 1.375rem;
}

.spacing-7-l {
  padding-left: 1.375rem;
}

.spacing-7-t {
  padding-top: 1.375rem;
}

.spacing-7-b {
  padding-bottom: 1.375rem;
}

.spacing-7-m {
  margin: 1.375rem;
}

.spacing-7-mr {
  margin-right: 1.375rem;
}

.spacing-7-ml {
  margin-left: 1.375rem;
}

.spacing-7-mt {
  margin-top: 1.375rem;
}

.spacing-7-mb {
  margin-bottom: 1.375rem;
}

.spacing-8 {
  padding: 1rem;
}

.spacing-8-r {
  padding-right: 1rem;
}

.spacing-8-l {
  padding-left: 1rem;
}

.spacing-8-t {
  padding-top: 1rem;
}

.spacing-8-b {
  padding-bottom: 1rem;
}

.spacing-8-m {
  margin: 1rem;
}

.spacing-8-mr {
  margin-right: 1rem;
}

.spacing-8-ml {
  margin-left: 1rem;
}

.spacing-8-mt {
  margin-top: 1rem;
}

.spacing-8-mb {
  margin-bottom: 1rem;
}

.spacing-9 {
  padding: 5rem;
}

.spacing-9-r {
  padding-right: 5rem;
}

.spacing-9-l {
  padding-left: 5rem;
}

.spacing-9-t {
  padding-top: 5rem;
}

.spacing-9-b {
  padding-bottom: 5rem;
}

.spacing-9-m {
  margin: 5rem;
}

.spacing-9-mr {
  margin-right: 5rem;
}

.spacing-9-ml {
  margin-left: 5rem;
}

.spacing-9-mt {
  margin-top: 5rem;
}

.spacing-9-mb {
  margin-bottom: 5rem;
}

.spacing-10 {
  padding: 2rem;
}

.spacing-10-r {
  padding-right: 2rem;
}

.spacing-10-l {
  padding-left: 2rem;
}

.spacing-10-t {
  padding-top: 2rem;
}

.spacing-10-b {
  padding-bottom: 2rem;
}

.spacing-10-m {
  margin: 2rem;
}

.spacing-10-mr {
  margin-right: 2rem;
}

.spacing-10-ml {
  margin-left: 2rem;
}

.spacing-10-mt {
  margin-top: 2rem;
}

.spacing-10-mb {
  margin-bottom: 2rem;
}

.spacing-11 {
  padding: 0.75rem;
}

.spacing-11-r {
  padding-right: 0.75rem;
}

.spacing-11-l {
  padding-left: 0.75rem;
}

.spacing-11-t {
  padding-top: 0.75rem;
}

.spacing-11-b {
  padding-bottom: 0.75rem;
}

.spacing-11-m {
  margin: 0.75rem;
}

.spacing-11-mr {
  margin-right: 0.75rem;
}

.spacing-11-ml {
  margin-left: 0.75rem;
}

.spacing-11-mt {
  margin-top: 0.75rem;
}

.spacing-11-mb {
  margin-bottom: 0.75rem;
}

.spacing-12 {
  padding: 0.875rem;
}

.spacing-12-r {
  padding-right: 0.875rem;
}

.spacing-12-l {
  padding-left: 0.875rem;
}

.spacing-12-t {
  padding-top: 0.875rem;
}

.spacing-12-b {
  padding-bottom: 0.875rem;
}

.spacing-12-m {
  margin: 0.875rem;
}

.spacing-12-mr {
  margin-right: 0.875rem;
}

.spacing-12-ml {
  margin-left: 0.875rem;
}

.spacing-12-mt {
  margin-top: 0.875rem;
}

.spacing-12-mb {
  margin-bottom: 0.875rem;
}

.spacing-13 {
  padding: 1.25rem;
}

.spacing-13-r {
  padding-right: 1.25rem;
}

.spacing-13-l {
  padding-left: 1.25rem;
}

.spacing-13-t {
  padding-top: 1.25rem;
}

.spacing-13-b {
  padding-bottom: 1.25rem;
}

.spacing-13-m {
  margin: 1.25rem;
}

.spacing-13-mr {
  margin-right: 1.25rem;
}

.spacing-13-ml {
  margin-left: 1.25rem;
}

.spacing-13-mt {
  margin-top: 1.25rem;
}

.spacing-13-mb {
  margin-bottom: 1.25rem;
}

.spacing-14 {
  padding: 2.5rem;
}

.spacing-14-r {
  padding-right: 2.5rem;
}

.spacing-14-l {
  padding-left: 2.5rem;
}

.spacing-14-t {
  padding-top: 2.5rem;
}

.spacing-14-b {
  padding-bottom: 2.5rem;
}

.spacing-14-m {
  margin: 2.5rem;
}

.spacing-14-mr {
  margin-right: 2.5rem;
}

.spacing-14-ml {
  margin-left: 2.5rem;
}

.spacing-14-mt {
  margin-top: 2.5rem;
}

.spacing-14-mb {
  margin-bottom: 2.5rem;
}

.spacing-15 {
  padding: 3rem;
}

.spacing-15-r {
  padding-right: 3rem;
}

.spacing-15-l {
  padding-left: 3rem;
}

.spacing-15-t {
  padding-top: 3rem;
}

.spacing-15-b {
  padding-bottom: 3rem;
}

.spacing-15-m {
  margin: 3rem;
}

.spacing-15-mr {
  margin-right: 3rem;
}

.spacing-15-ml {
  margin-left: 3rem;
}

.spacing-15-mt {
  margin-top: 3rem;
}

.spacing-15-mb {
  margin-bottom: 3rem;
}

.spacing-16 {
  padding: 3.25rem;
}

.spacing-16-r {
  padding-right: 3.25rem;
}

.spacing-16-l {
  padding-left: 3.25rem;
}

.spacing-16-t {
  padding-top: 3.25rem;
}

.spacing-16-b {
  padding-bottom: 3.25rem;
}

.spacing-16-m {
  margin: 3.25rem;
}

.spacing-16-mr {
  margin-right: 3.25rem;
}

.spacing-16-ml {
  margin-left: 3.25rem;
}

.spacing-16-mt {
  margin-top: 3.25rem;
}

.spacing-16-mb {
  margin-bottom: 3.25rem;
}

.spacing-17 {
  padding: 2.1875rem;
}

.spacing-17-r {
  padding-right: 2.1875rem;
}

.spacing-17-l {
  padding-left: 2.1875rem;
}

.spacing-17-t {
  padding-top: 2.1875rem;
}

.spacing-17-b {
  padding-bottom: 2.1875rem;
}

.spacing-17-m {
  margin: 2.1875rem;
}

.spacing-17-mr {
  margin-right: 2.1875rem;
}

.spacing-17-ml {
  margin-left: 2.1875rem;
}

.spacing-17-mt {
  margin-top: 2.1875rem;
}

.spacing-17-mb {
  margin-bottom: 2.1875rem;
}

.spacing-18 {
  padding: 1.5625rem;
}

.spacing-18-r {
  padding-right: 1.5625rem;
}

.spacing-18-l {
  padding-left: 1.5625rem;
}

.spacing-18-t {
  padding-top: 1.5625rem;
}

.spacing-18-b {
  padding-bottom: 1.5625rem;
}

.spacing-18-m {
  margin: 1.5625rem;
}

.spacing-18-mr {
  margin-right: 1.5625rem;
}

.spacing-18-ml {
  margin-left: 1.5625rem;
}

.spacing-18-mt {
  margin-top: 1.5625rem;
}

.spacing-18-mb {
  margin-bottom: 1.5625rem;
}

.spacing-19 {
  padding: 0.9375rem;
}

.spacing-19-r {
  padding-right: 0.9375rem;
}

.spacing-19-l {
  padding-left: 0.9375rem;
}

.spacing-19-t {
  padding-top: 0.9375rem;
}

.spacing-19-b {
  padding-bottom: 0.9375rem;
}

.spacing-19-m {
  margin: 0.9375rem;
}

.spacing-19-mr {
  margin-right: 0.9375rem;
}

.spacing-19-ml {
  margin-left: 0.9375rem;
}

.spacing-19-mt {
  margin-top: 0.9375rem;
}

.spacing-19-mb {
  margin-bottom: 0.9375rem;
}

.nav-container {
  border-radius: 0.5rem;
  box-shadow: 0px 30px 60px 0px rgba(32, 56, 85, 0.15);
  padding: 0.5rem;
}
.nav-container span {
  background-color: #08A0F7;
  color: #FFF;
  border-radius: 100%;
  width: 0.85rem;
}
.nav-container i {
  display: inline;
}
.nav-container form {
  background-color: #F4F7FC;
  border-radius: 12.5rem;
}
.nav-container form input {
  width: 100%;
  border: 0;
  height: 2rem;
  background: url(/assets/images/nav/search.svg) no-repeat scroll 7px 9px;
  padding-left: 1.875rem;
  border-radius: 12.5rem;
}
.nav-container ul {
  list-style: none;
}
.nav-container ul li {
  text-decoration: none;
}

.card-creation {
  max-width: 348px;
}
.card-creation i img {
  right: -340px;
  top: 12px;
}
.card-creation i .circle {
  right: -6px;
  top: -2px;
  z-index: -1;
}
.card-creation form {
  border-radius: 8px;
  border: 1px solid #7784EE;
  background: #FFF;
  box-shadow: 0px 5px 15px 0px rgba(119, 132, 238, 0.3);
  max-width: 292px;
  height: 100%;
}
.card-creation form textarea {
  width: 92%;
  height: 150px;
  border: 0px;
}
.card-creation .profile img {
  border-radius: 100%;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0px 30px 60px 0px rgba(32, 56, 85, 0.15);
  font-family: "Poppins-Reg", "Sans Serif";
  width: 100%;
}

.category {
  border-radius: 12.5rem;
  background: rgba(8, 160, 247, 0.15);
  color: #1778B0;
  font-size: 0.75rem;
}

.btn {
  width: 100%;
  max-width: 281px;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  font-family: "Poppins-Reg", "Sans Serif";
  font-size: 0.875rem;
  color: #FFF;
  background-color: #7784EE;
  border: 0;
}

.prog_bar {
  width: 100%;
  border-radius: 12.5rem;
}
.prog_bar hr {
  border-radius: 12.5rem;
  border: 5px solid;
  width: 50%;
}

.checkmark {
  top: 2px;
  right: 0px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid;
  border-color: #08A0F7;
  background: rgba(8, 160, 247, 0.06);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark-2 {
  left: 0;
  top: 2px;
  right: 0px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid;
  border-color: #08A0F7;
  background: rgba(8, 160, 247, 0.06);
}
.checkmark-2:after {
  right: 0;
}
.checkmark-2:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mod_input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.mod_input:checked ~ .checkmark {
  background-color: #08A0F7;
}

.alert, .attention, .success, .other {
  width: 100%;
  max-width: 408px;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 1px 0px rgba(64, 72, 82, 0.05);
}

.task-card-container {
  max-width: 348px;
}
.task-card-container figure img {
  right: 0.75rem;
  top: 0.75rem;
}
.task-card-container div figure .profile {
  border-radius: 100%;
}

.label-card-container {
  max-width: 348px;
}
.label-card-container figure img {
  right: 12px;
  top: 12px;
}
.label-card-container form input:checked ~ .checkmark:after {
  display: block;
}

.buttons-container .btn-loading {
  width: 100%;
  max-width: 281px;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  font-family: "Poppins-Reg", "Sans Serif";
  font-size: 0.875rem;
  color: #FFF;
  background-color: #7784EE;
  border: 0;
  color: #5F6DDD;
  background-color: #D2D7FF;
}
.buttons-container .btn-secondary {
  width: 100%;
  max-width: 281px;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  font-family: "Poppins-Reg", "Sans Serif";
  font-size: 0.875rem;
  color: #FFF;
  background-color: #7784EE;
  border: 0;
  color: #5F6DDD;
  background-color: #EAEEF6;
}

.project-card-container {
  border-radius: 0.5rem;
  box-shadow: 0px 30px 60px 0px rgba(32, 56, 85, 0.15);
  max-width: 408px;
}
.project-card-container figure img {
  right: 0.75rem;
  top: 0.75rem;
}
.project-card-container .profile-pics figure img {
  border-radius: 100%;
  border: 3px solid #FFF;
}
.project-card-container .profile-pics figure .img1 {
  left: 25px;
  top: 0;
  z-index: -1;
}
.project-card-container .profile-pics figure .img2 {
  left: 50px;
  top: 0;
  z-index: -12;
}

.task-progress-container {
  max-width: 281px;
}
.task-progress-container .p1 {
  width: 40%;
}
.task-progress-container .p2 {
  width: 50%;
}
.task-progress-container .p3 {
  width: 30%;
}

.sub-task-container {
  max-width: 281px;
}
.sub-task-container figure img {
  right: 12px;
  top: 12px;
}
.sub-task-container .profile img {
  border-radius: 100%;
}
.sub-task-container form input:checked ~ .checkmark:after {
  display: block;
}

.status-container .alert {
  border: 0.5px solid #F85640;
}
.status-container .alert span {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
}
.status-container .attention {
  border: 0.5px solid #FBA63C;
}
.status-container .attention span {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
}
.status-container .success {
  border: 0.5px solid #34A770;
}
.status-container .other {
  border: 0.5px solid #08A0F7;
}

.activity-container {
  max-width: 319px;
}

.progress-container {
  max-width: 319px;
  max-height: 340px;
}
.progress-container i img {
  top: 2.5rem;
  right: -0.2375rem;
}
.progress-container .main {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.progress-container .main .circular-progress-bar {
  width: 160px;
  height: 160px;
  position: relative;
}
.progress-container .main .circular-progress-bar .outer {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(52, 167, 112, 0.1);
  position: relative;
}
.progress-container .main .circular-progress-bar svg {
  position: absolute;
  top: -7px;
  left: -6px;
  transform: rotate(90deg);
}
.progress-container .main .circular-progress-bar svg circle {
  padding: 20px;
  fill: none;
  stroke: url(#LinearColor);
  stroke-width: 5px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
@keyframes anim {
  100% {
    stroke-dashoffset: 140;
  }
}

.assign-to-container {
  border-radius: 0.5rem;
  box-shadow: 0px 30px 60px 0px rgba(32, 56, 85, 0.15);
  font-family: "Poppins-Reg", "Sans Serif";
  max-width: 408px;
}

form {
  background-color: #F4F7FC;
  border-radius: 12.5rem;
  height: 2rem;
}
form input {
  border: 0;
  height: 2rem;
  background: url(/assets/images/assign-to/Group2.svg) no-repeat scroll 7px 9px;
  padding-left: 1.875rem;
  border-radius: 12.5rem;
}

.drop {
  max-width: 408px;
}
.drop .arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(255, 255, 255, 0.3);
  right: 19px;
  top: -9px;
}
.drop figure img {
  border-radius: 100%;
}
.drop div:hover {
  background-color: #F0F5FC;
  border-left-color: #08A0F7 !important;
}